# RD Obras API
RD_OBRAS_BASE_URL=https://api.rdobras.com.br
RD_OBRAS_APP_KEY=1844a34b-62ae-4952-b6f8-62dc18224a24
RD_OBRAS_APP_SECRET=dfd42edbfdf5bdf27f6e6edf70d18cde7b1e5625f69b442186629d3972150164

# WTS Chat API
WTS_API_BASE_URL=https://api.wts.chat
WTS_API_TOKEN=pn_ih3hrhTGmJDBuH3c4uM5WUmZyIuvcMvNuiF0zy4ZTtc
WTS_SESSION_ID=PREENCHER_SESSION_ID_AQUI
WTS_RECIPIENT_PHONE=PREENCHER_NUMERO_DESTINO_AQUI

# Configurações
REPORT_HOUR=18
REPORT_MINUTE=0
TIMEZONE=America/Sao_Paulo
IGNORED_PROJECTS=ESCRITÓRIO
LOG_LEVEL=INFO
